h1 {
    color: rebeccapurple;
    background-color: rgb(224, 203, 203);
}

.green {
    background-color: darkgreen;
    color: bisque;

}

.red { 
    background-color: red;
    color: yellow;
}

#black {
    background-color: blue;
    color: aquamarine;
}